body {
    font-family: 'Arial', sans-serif;
    background-image: url("cool-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    
    background-color: antiquewhite;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    border-color: antiquewhite;
    border-radius: 16px;
    border-style: groove;
    box-shadow:0 10px 30px rgb(103, 102, 102);
}

.user-type {
    display: flex;
    justify-content: space-around;
    color: #502100;
    margin-bottom: 20px;
}

.toggle-button {
    background-color: #5C6BC0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #3f8eb5;
}

.login-form h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-block: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(79, 76, 76);
}

.input-group input {
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid rgb(116, 113, 113);
    border-radius: 4px;
    border-style: dotted;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    margin-top: 21px;
    padding: 10px;
    border-style: groove;
    background-color: #5C6BC0;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 200;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #12acd6;
    color: black;
    box-shadow: 0 10px 30px cornflowerblue;
}

/* Responsive Design */
@media (max-width: 600px) {
    .login-container {
        width: 90%;
        margin: 20px;
    }

    .toggle-button {
        padding: 10px;
        font-size: 14px;
    }
}
